/* .signup-container {
  width: 60%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #131212;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

label {
  margin-top: 20px;
  font-size: 16px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(84, 84, 84);
  margin-bottom: 20px;
  padding: 5px;
  background-color: #8b8d93;
  color: rgb(255, 255, 255);
}

input::placeholder {
  color: rgb(255, 255, 255);
}

button[type="submit"],
button {
  width: 100px;
  height: 30px;
  background-color: #ff0b0b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #960e0e;
}

select {
  width: 312px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(84, 84, 84);
  margin-bottom: 20px;
  padding: 5px;
  background-color: #8b8d93;
  color: rgb(255, 255, 255);
}

select option {
  background-color: #848484;
  color: rgb(255, 255, 255);
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: rgb(255, 255, 255);
} */
