/* chat feed */
.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.message-input {
  flex: 1;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-right: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.send-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.send-icon {
  font-size: 1.25rem;
  color: #161617;
}

/* TheirMessage styles */

.message {
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 10px;
  clear: both;
  max-width: 70%;
  font-size: 1rem;
}

/* ChatFeed styles */

.chat-feed {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chat-container {
  flex-grow: 1;
  overflow: auto;
  padding: 1rem;
}

.chat-container {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

.chat-container .chat-start {
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
  color: #999;
}
